/*Додала такий клас для коротких написів*/
.short-inscription {
    color: #c8693a;
    font-family: "Great Vibes", sans-serif;

}

/* Solomiya beginning */
:root {
    background-color: #261e1c;
    color: white;
}

.logo {
    width: 176px;
    height: 44px;
}

.title {
    font-size: 26px;
    color: #c8693a;
    font-family: 'Great Vibes', cursive;
}

.subtitle {
    font-family: 'Prata', serif;
    font-size: 41px;
    font-weight: inherit;
}

.texts {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.example {
    color: rgb(137,128,130);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    list-style-type: none;
}

li::before{
    content: '— ';
    color: #c8693a;
}

.wine-example {
    font-size: 22px;
    font-family: 'Prata', serif;
    font-weight: inherit;
}

.wine-name,
.price {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.shop-wine-name {
    font-family: 'Prata', serif;
    font-size: 22px;
    font-weight: inherit;
}

.shop-price {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.available {
    color: #61a854;
}

.wine-code {
    font-family: 'Great Vibes', cursive;
    font-size: 26px;
    font-weight: inherit;
}

.storage-wine-img { 
    width: 415px;
    height: 415px;
}

.small-storage-wine-img { 
    width: 95px;
    height: 95px;
}

.devider-phone {
    width: 100%;
    height: 1px;
    margin: 24px 0;
    background: #edf0f5;
}

.big-chart {
    background-color: #c8693a;
    border: #c8693a;
    border-radius: 2px;
    border-bottom: inherit;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.big-chart:hover {
    background-color: #9e5029;
    cursor: pointer;
}

.award-name {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.award-year {
    font-size: 22px;
    font-family: 'Prata', serif;
    font-weight: 400;
}

.award-description {
    font-size: 16px;
    font-family: 'Rubik' ,sans-serif;
    font-weight: 400;
    color: rgb(137,128,130);
}
/* Solomiya end */


/* Такі шрифти використовуються 
font-family: 'Great Vibes', cursive;
font-family: 'Prata', serif;
font-family: 'Rubik', sans-serif; */

/* Додав поки що такий колір, щоб було видно заголовки */
body {
    background-color: #271e1d;
}

/* ці властивості підходять для заголовків та підзаголовків наших блоків */
.section__title {
    color: #c8693a;
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
}

.section__subtitle {
    color: #fff;
    font-family: 'Prata', serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
}

.faq__item, .features__title, .footer__title {
    color: #fff;
    font-family: 'Prata', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}

.faq__text, .features__rext {
    color: #898082;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.section__text {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.form__text {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.form__button {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    background-color: #c8693a;
}

.footer__address { 
    color: #898082;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;  
}

.footer__link {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.copyright_text {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}