h2,
h3,
h4,
h5,
h6,
* p {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    background-color: #261e1c;
    color: #fff;
    --secondary-color: #c8693a;
    --gray-color: #7d7577d7;
    --brown-color: #1a1512;
    --dark-brown-color: #140f0f;
    --dark-secondary-color: #b14f1e;
    --great-vibes-font: "Great Vibes", cursive;
    --prata-font: "Prata", serif;
    --rubik-font: "Rubik", sans-serif;
}


    

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.general-title {
    color: var(--secondary-color);
    font-family: var(--great-vibes-font);
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
}
  
.general-subtitle {
    margin-top: 20px;
    font-family: var(--prata-font);
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
}

.general-subtitle-big {
    margin-top: 20px;
    font-family: var(--prata-font);
    font-size: 84px;
    font-weight: 400;
    line-height: 101px;
}

.general-text {
    margin-top: 20px;
    font-family: var(--rubik-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
}

.text-separator {
    margin-top: 20px;
}
/*Dmytro Beginning*/
#clock{
    color: var(--secondary-color);
}
.burger-icon{
    font-size: 3.5rem;
}
#burger-checkbox{
    display: none; 
}

nav {
    background-color: rgb(0, 0, 0, 0.54)  
}
.content__section{
    display: flex;
    justify-content:space-around;
}
.content__section{
    margin: 200px 20px 20px 20px ;
  
}
.text__small{
    line-height: 40px;
}
.content__buttons{
    margin-top: 30px;
}
header {
    background-image: url("../img/backgrounds/background-main-page.webp");
    justify-content: center;
    background-attachment: fixed;
     
}
header .logo__inner a {
    display: flex;
}  
header{
    height: 100vh;
}
header .section a {
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    text-decoration: none; 
}
header .nav__menu a:hover {
    color: #c8693a;
}
.content__title {
    color: #c8693a;
    font-family: 'Great Vibes', sans-serif;
    font-size: 28px;
}
.text__big {
    color: rgb(255, 255, 255);
    font-family: 'Prata', sans-serif;
    font-size: 84px;
}
.text__small {
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}
.buttons {
    font-family: 'Rubik', sans-serif;
    font-size: 16.5px;
    padding: 0.55em 1.2em;
    /*border: 0.1em solid #f0950c;*/
    margin: 0 0.3em 0.3em 0;
    /*border-radius: 0.12em;*/
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color:var(--secondary-color);
    border-radius: 1.5px;
}
.buttons:hover{
    background:#9e5029;
    transition: 0.7s;
}
.buttonl {
    padding: 0.35em 1.2em;
    border: 2px solid  white;
    margin-left: 10px;
    border-radius: 0.12em;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
}
.buttonl:hover{
    color: black;
    background-color:white;
    cursor: pointer;
    transition: color 0.7s;
}
.logo__inner a {
    display: block;
    width: 400px;
    padding-left: 100px;
}
header  nav .nav__menu{
    display: none;
    padding: 0 5px;
}
input:checked ~ .nav__menu{
    display: block;
}
header nav div {
    display: flex;   
}  
 header  .nav__menu {
    display: block;
    flex: 1;
    justify-content: space-around;
    align-items: center;
} 

.grid__page{
    height: 75vh;
    padding-top: 150px;
    width: 100%;
    height: 100%;
    
}
.grid__inner {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-column-gap: 30px;
   align-items: center;
   justify-content: center;
}

.grid__grade {
    background-image: url('../img/backgrounds/background-phone2.png');
    background-repeat: no-repeat ;

}
.grid__natural {
    background-image: url('../img/backgrounds/background-phone1.png');
    background-repeat: no-repeat;
     
}
.grid__events {
    background-image: url('../img/backgrounds/background-phone.png');
    background-repeat: no-repeat;
     
}
.grid_text_inner{
    display: block;
    text-align: left;
    padding-right: 50px;
    padding-left: 30px;
    padding-bottom: 40px;   
}
.grid_text_inner .text__h{
    font-family: 'Prata', sans-serif;
    font-size: 22px;
    color:white;
}
.grid_text_inner .bar{
    height: 2px;
    width: 60px;
    background-color: var(--secondary-color);

}
.grid_text_inner p{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #898082;
}
.grid_text_inner a{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 15px;
    display: inline-block;
    position: relative;
    word-wrap: break-word;
    font-weight: 700;


}
.grid__inner h5{
    margin-top: 500px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;  
}  
 header .grid__inner .text__h {
    font-family: 'Prata', sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255)
} 
 header .grid__natural .text__h {
    color: rgb(255, 255, 255);
    font-family: 'Prata', sans-serif;
    font-size: 22px;
} 
header .grid__natural .grid__text {
    color: rgb(137, 128, 130);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

header .grid__grade .text__h {
    color: rgb(255, 255, 255);
    font-family: 'Prata', sans-serif;
    font-size: 22px;
}

 header .grid__grade .bar {
    height: 2px;
    width: 15%;
    background-color: #c8693a;
} 

 header .grid__grade .grid__text {
    color: rgb(137, 128, 130);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

.category__inner{
    display:  flex;
    justify-content: space-between; 
}

.discount__inner{
    position: relative;
    width:100%;
    background-color: var(--secondary-color);
    min-height: 360px;
    margin-top: 30px;
}
.discount__inner>img{
    position: absolute;
    right: 0;
    display: block;
    max-width: 100%;
    height: 100%;
    
}
.category_of_wines{
    width: 100%;
    max-width: 1042px;
    margin: 0 auto;
    padding: 50px 0;
       
} 
.category__inner{
    display: flex;
    margin:  0 -15px; 
}

.inner_item_wrapper{
    display: flex;
    width: 50%;
    padding: 0 15px;
    height: 460px;
}
.inner__item{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    
}
.inner__item.red__wine{
    background-image: url("../img/backgrounds/background-red-wines.jpg");  
}
.inner__item.white__wine{
    background-image: url("../img/backgrounds/background-white-wines.jpg");   
}

.text__inner{
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
}
.inner_item_wrapper h3{
    font-family: 'Prata', serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
}
.inner_item_wrapper .bars{
    margin-top: 10px;
    height: 2px;
    width: 10%;
    background-color: var(--secondary-color);

}
.inner_item_wrapper p{
    padding-top: 30px;
    font-family: 'Rubik', serif;
    font-size: 16px;
    color: white;
}
.inner_item_wrapper .buttons{
    width: 190px;
    margin-top: 50px;
    margin-left:30px;
}
.inner_item_wrapper {
    margin-top: 30px;
    margin-left: 30px;
}
.inner_item_wrapper .bar{
     margin-left:30px
    
}
.discount__inner{
    margin-left: 30px;
    overflow: inherit;
    margin-left: 10px;
}
.discount_inner_text{
    display: block;
    padding-top: 100px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.discount_inner_text h2{
    font-family: 'Prata', serif;
    font-size: 34px;
    color: white;
}
.discount_inner_text .bars{
    margin-top: 30px;
    height: 1px;
    width: 20%;
    background-color:rgb(255,255,255,0.1);
}
.discount_inner_text p{
    text-decoration: none;
    font-family: 'Rubik', serif;
    font-size: 18px;
    color: white;
}
.discount_inner_text .buttonl{
    width: 120px;
    height: 45px;
}
.discount__inner, .bar{
    margin-top: 50px;
    /* margin-left: 40px; */
}
.discount__inner a{
    margin-left: 40px;
    margin-top: 10px;
}
.discount__inner img{
    opacity: 0.4;
}
.inner_item_wrapper{
    box-sizing: border-box;
}


/*Solomiya beginning*/
:root {
    --text-color: rgb(137,128,130);
}

.title {
    font-size: 26px;
    line-height: 20px;
    font-family: var(--great-vibes-font);
}

.subtitle {
    font-family: var(--prata-font);
    font-size: 41px;
    font-weight: inherit;
    line-height: 54px;
}

.texts {
    display: block;
}

.example {
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    list-style-type: none;
    line-height: 25px;
}

.example::before{
    content: '— ';
    color: var(--secondary-color);
}

.wine-example {
    font-size: 22px;
    font-family: 'Prata', serif;
    font-weight: inherit;
    line-height: 33px;
    padding-top: 30px;
}

.wine-name,
.price {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 17px;
    margin-bottom: 17px;
}

.wine-name:hover {
    color: silver;
}

.wine-image {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    margin-bottom: 17px;
}

.chart {
    background-color: var(--secondary-color);
    border: var(--secondary-color);
    border-radius: 2px;
    border-bottom: inherit;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.chart:hover {
    background-color: #9e5029;
    cursor: pointer;
}

.award-name {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.award-year {
    font-size: 22px;
    font-family: 'Prata', serif;
    font-weight: 400;
}

.award-description {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: var(--text-color);
}

.empty-timeless-classic {
    width: 50%;
}

.timeless-classic {
    margin-top: 30px;
    min-height: 500px;
    min-width: 400px;
    height: 750px;
    line-height: 26px;
    text-align: left;
    display: block;
    padding: 50px 15px 150px 15px;
    max-width: 590px;
    margin-right: auto;
}

.timeless-classic-background {
    background-image: url("../img/backgrounds/background-timeless-classic.webp");
    background-size: cover;
    background-position: right;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.timeless-classic .general-text {
    line-height: 25px;
}

.history {
    display: block;
    text-align: left;
    width: 400px;
    height: 750px;
    max-width: 1042px;
    padding-top: 7em;
    justify-content: center;
    max-width: 550px;
    margin-left: -20em;
}

.extra-history {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
}

.history .subtitle {
    font-size: 71px;
    line-height: 85px;
}
    
.history-background {
    background-image: url("../img/backgrounds/background-history.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    width: 100%;
}

.empty-history {
    width: 45%;
}

.play-video {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    line-height: 23px;
    display: block;
    width: 100%;
    padding-top: 22em;
    padding-left: 7em;
}

.play-button {
    width: 70px;
    height: 70px;
    margin-left: 7px;
    margin-bottom: 20px;
}

.shop-bottles {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.shop-bottle {
    text-align: center;
}

.craft-wines-text {
    padding-top: 60px;
    text-align: center;
}

.craft-wines {
    padding-bottom: 100px;
    max-width: 1042px;
    align-items: center;
    margin: 0 auto;
}

.craft-wines .subtitle {
    line-height: 44px;
}

.watch-on-youtube {
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
}

.watch-on-youtube:hover {
    text-decoration: underline;
}

.link-on-youtube {
    margin-top: 34px;
}

.awards {
    text-align: center;
    margin-top: 30px;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;    
    max-width: 1042px;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
}

.award {
    display: block;
    margin-top: 50px;
    margin: 20px;
}

.award-img{
    width: 120px;
    height: 65px;
    padding-bottom: 10px;
}

.award-name {
    padding-left: 20px;
    width: 200px;
    padding-bottom: 40px;
}

.award-year {
    padding-left: 20px;
    width: 200px;
    padding-bottom: 40px;
}

.award-description {
    width: 100%;
    padding-bottom: 40px;
}

.award-example {
    display: flex;
    justify-content: left;
    text-align: left;
}

.arrow-to-youtube {
    width: 45px;
    height: 20px;
    margin-bottom: -5px;
}
/*Solomiya end*/

/* Dmytro beginning */
/* main first section part*/

/*
.wine-bottle-feature-img {  
    
} 
*/

.w-section {
    padding: 50px 0 100px 0;
}

.feature-container {
    margin: 0 160px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.w-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wine-bottle-feature-img img {
    max-width: 370px;
}

.w-feature-text {
    width: 100%;
}

.wine-history-container {
    justify-content: space-around;
    min-height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 20px;
}

.history-number {
    color: #f0950c;
}

.wine-bottles-thematic-picture {
    max-width: 400px;
    padding-left: 15px;
    padding-right: 15px;
}

.history-subtitles {
    font-size: 22px;
    line-height: 1.5;
    font-family: Prata, serif;
    font-weight: 400;
    font-style: none;
    letter-spacing: -.02em;
}

.history-text {
    padding-top: 90px;
    padding-bottom: 90px;
    color: rgb(137, 128, 130);
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.testimonials {
    position: relative;
    padding: 50px 0;
    text-align: center;
    background-image: url(/img/backgrounds/background-testimonials.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
.testimonials__content {
    margin-bottom: 20px;
}
  
.testimonials__content-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    font-family: var(--rubik-font);
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
  
.caruosel-wrapper {
    width: 740px;
}
  
.testimonials__carousel-item {
    display: none;
}
.testimonials__carousel-item.carousel-active {
    display: block;
}
  
.button-wrapper {
    display: flex;
    /* height: 30px;
    width: 30px;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    background-color: var(--secondary-color); */
}
.prev {
    transform: rotate(180deg);
}
  
.next,
.prev {
    cursor: pointer;
    width: 35px;
    height: 35px;
    align-self: center;
    fill: var(--secondary-color);
    opacity: 0.7;
    transition: linear 0.2s;
}
  
.next:hover,
.prev:hover {
    opacity: 1;
}
  
.dots {
    margin-top: 20px;
}

.dot {
    background-color: #4f3022;
    border: 1px solid #4f3022;
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 20px;
}
  
.dot:last-child {
    margin-right: 0;
}
  
.dot-active {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}
  
.have-question {
    padding: 50px 0;
}
  
.have-question__inner {
    display: flex;
    flex-wrap: wrap;
}
  
.have-question-list {
    flex: 2 400px;
}
  
.have-question__list-item {
    padding: 20px 0;
    border-bottom: 1px solid var(--gray-color);
}
  
.list__title {
    font-family: var(--prata-font);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    cursor: pointer;
    position: relative;
}
  
.list__title::before {
    content: "\002B";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    font-size: 24px;
}
  
.have-question__list-item.active .list__title::before {
    content: "\2212";
}
  
.list__text {
    color: var(--gray-color);
    font-family: var(--rubik-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}
  
.have-question__list-item.active .list__text {
    height: auto;
    margin-top: 20px;
}
  
.have-question-image {
    flex: 1 300px;
    align-self: center;
}
  
.have-question__item__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.features {
    display: flex;
    padding: 50px 0 100px;
}
  
.features__item {
    width: 25%;
    margin-left: 25px;
    text-align: start;
}

.features__item:first-child {
    margin-left: 0;
}
  
.features-image {
    fill: var(--secondary-color);
    width: 60px;
    height: 60px;
}
  
.features-title,
.footer-part__title {
    margin-top: 20px;
    font-family: var(--prata-font);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}
  
.text-divider {
    margin: 15px 0;
    content: "";
    background-color: var(--secondary-color);
    height: 1px;
    display: block;
    width: 15%;
}
  
.features-text {
    margin-top: 20px;
    font-family: var(--rubik-font);
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
  
.footer {
    padding: 100px 0 50px;
    background-color: var(--brown-color);
}
  
.join-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    border-bottom: 1px solid var(--gray-color);
}
  
.join-part__subtitle {
    font-size: 32px;
    line-height: 42px;
}
  
.join-part__text {
    font-size: 16px;
    line-height: 26px;
}
  
input {
    width: 100%;
    margin-block-start: 12px;
    padding: 16px 25px;
    border: none;
}
  
.form__text {
    background-color: #252120;
    font-family: var(--rubik-font);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}
  
.form__button {
    background-color: var(--secondary-color);
    font-family: var(--rubik-font);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    transition: background 0.2s linear;
}
  
.form__button:hover {
    cursor: pointer;
    background-color: var(--dark-secondary-color);
}
  
.footer-part {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}
  
.footer-part__inner {
    width: 25%;
}
  
.footer-part__inner:first-child {
    margin-left: 0;
}
  
.footer-part__address {
    margin-top: 20px;
    font-family: var(--rubik-font);
    color: var(--gray-color);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}
  
.address {
    margin: 15px 0;
}
  
.contact {
    color: var(--gray-color);
    text-decoration: none;
}
  
.footer-part__social {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}
  
.social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    border: 1px solid var(--secondary-color);
}
  
.social_item:first-child {
    margin-left: 0;
}
  
.social_item:hover {
    cursor: pointer;
    background-color: var(--dark-secondary-color);
}
  
.social_item:hover .social_icon {
    fill: #000;
}
  
.social_icon {
    height: 18px;
    fill: var(--secondary-color);
    transition: fill 0.1s linear;
}
  
.footer-part__link {
    display: flex;
    flex-direction: column;
}
  
.footer-part__link-item {
    font-family: var(--rubik-font);
    color: var(--gray-color);
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
    text-decoration: none;
    padding-bottom: 15px;
    transition: linear 0.2s;
}
  
.footer-part__link-item:hover {
    color: var(--secondary-color);
}
  
.footer-part__link-item:last-child {
    padding-bottom: 0;
}
  
.footer-part__img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
  
.instagram-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.copyright {
    padding: 20px 0;
    font-family: var(--rubik-font);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    background-color: var(--dark-brown-color);
}
  
.copyright_text {
    display: flex;
    justify-content: space-between;
}

/* Modal window */
.modal-window {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}
  
.modal-window__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.769);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-window__content {
    max-width: 770px;
    background-color: var(--brown-color);
    padding: 40px;
    text-align: center;
}
  
.modal-window__text {
    margin-top: 20px;
    font-family: var(--rubik-font);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}
  
.modal-window__buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;
    padding: 0 15px;
}
  
.modal-window__button {
    margin: 10px;
    padding: 16px 25px;
    border-radius: 3px;
}
  
#yes {
    background-color: var(--secondary-color);
    border: 3px solid transparent;
}
  
#yes:hover {
    cursor: pointer;
    background-color: #b14f1ec6;
    transition: 0.3s linear;
}
  
#no {
    border: 3px solid rgb(255, 255, 255);
}
  
#no:hover {
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s linear;
}
  
#no:hover .btn-no {
    color: #000;
}
  
.btn-yes,
.btn-no {
    text-decoration: none;
    font-family: var(--rubik-font);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
}


/* Cart */
.shopping-bag__wrapper {
    display: none;
}
  
.shopping-bag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid transparent;
    background-color: var(--secondary-color);
    border-radius: 50%;
}
  
.shopping-bag__icon {
    width: 40px;
    height: 40px;
}
  
.shopping-bag__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    background-color: #bb1414;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -2px;
}


@media (max-width: 1104px) {
    .features-title,
    .footer-part__title {
        font-size: 20px;
        line-height: 30px;
    }
  
    .footer-part__inner:first-child {
        padding-right: 15px;
    }
}

@media (max-width: 990px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .general-title {
        font-size: 20px;
        line-height: 30px;
    }

    .general-subtitle {
        font-size: 30px;
        line-height: 30px;
    }

    .general-text {
        font-size: 16px;
        line-height: 26px;
    }
    .shop-bottles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .wine-image {
        width: 100%;
        height: 100%;
    }

    .caruosel-wrapper {
        padding: 0 10px;
    }

    .have-question-list {
        padding: 15px;
    }

    .list__title {
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
    }

    .have-question-image {
        padding: 0 15px;
        flex: 1 285px;
    }

    .features {
        flex-wrap: wrap;
    }

    .features__item {
        margin-left: 0;
        padding: 15px;
        width: 50%;
    }

    .features-image {
        fill: var(--secondary-color);
        width: 40px;
        height: 40px;
    }

    .join-part__text {
        margin-top: 25px;
    }

    .join-part__inner {
        padding: 0 5px;
    }

    .join-part__form {
        max-width: 265px;
    }

    .footer-part__img {
        grid-template-columns: 1fr 1fr;
    }

    .instagram-image {
        width: 90%;
        height: 90%;
        object-fit: cover;
    }

    .modal-window__content {
        max-width: 670px;
        background-color: var(--brown-color);
        padding: 35px;
        text-align: center;
    }
}

@media (max-width: 813px) {
    .social_item {
        width: 25px;
        height: 25px;
        margin-bottom: 15px;
    }
  
    .social_icon {
        height: 15px;
    }
  }

@media (max-width: 768px) {
    .shop-bottles {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    .wine-image {
        width: 100%;
        height: 100%;
    }
    .award-img {
        width: 100%;
        height: 100%;
    }
    .award-example {
        display: inherit;
    }
    /* .history .subtitle {
        font-size: 58px;
        line-height: 70px;
    } */

    .award-description {
        padding-left: 20px;
    }

    .history-background {
        display: block;
    }

    .play-video {
        margin: 0;
        padding-left: 25px;
        margin-top: -200px;
        padding-bottom: 70px;
    }

    .play-button {
        width: 50px;
        height: 50px;
    }

    .testimonials__carousel-item {
        font-size: 14px;
    }
    
    .have-question-list {
        padding: 0;
    }
    
    .have-question-image {
        padding: 0 15px;
        flex: 1 313px;
    }
    
    .have-question__item__img {
        width: 90%;
        height: 90%;
    }
    
    .features__item {
        padding: 15px;
        width: 100%;
    }
    
      .join-part {
        flex-wrap: wrap;
      }
    
      .join-part__inner {
        width: 100%;
      }
    
      .join-part__form {
        margin-top: 20px;
        max-width: 100%;
      }
    
    .footer-part__inner {
        width: 100%;
        text-align: center;
    }
    
    .footer-part__social {
        justify-content: center;
    }
    
    .text-divider-text {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 715px) {
    .modal-window__content {
        max-width: 570px;
        background-color: var(--brown-color);
        padding: 35px;
        text-align: center;
    }
}
  
@media (max-width: 615px) {
    .modal-window__content {
        max-width: 470px;
        background-color: var(--brown-color);
        padding: 35px;
        text-align: center;
    }
}
@media(min-width:850px){
    .burger-icon{
        display: none;
    }
    .section{
        display: flex;
    }
    header#main nav .nav__menu{
        display: flex;
        flex:1;
        justify-content: space-around;
    
    }
}
@media screen and (max-width:768px){
    header img{
        display: block;
        justify-content: space-around;
    }
    .grid__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: auto;
        margin: 0;
    }
    .category__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: auto;
        margin: 0;
        gap: 20px;

    }
     .section{
       display: flex;
       flex-wrap: wrap;
       padding: auto;
    }  
    .section {
        justify-content: space-around;
    }
    .category__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: auto;
    }
    .content__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: auto;
    }
}
