/*Додала такий клас для коротких написів*/
.short-inscription {
    color: #c8693a;
    font-family: "Great Vibes", sans-serif;

}

/* Solomiya beginning */
:root {
    background-color: #261e1c;
    color: white;
    --title-color: #c8693a;
    --text-color: rgb(137,128,130);
}

.logo {
    width: 176px;
    height: 44px;
}

.title {
    font-size: 26px;
    line-height: 30px;
    color: var(--title-color);
    font-family: 'Great Vibes', cursive;
}

.subtitle {
    font-family: 'Prata', serif;
    font-size: 41px;
    font-weight: inherit;
    line-height: 54px;
}

.texts {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    display: block;
    line-height: 30px;
}

.example {
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    list-style-type: none;
    line-height: 25px;
}

li::before{
    content: '— ';
    color: var(--title-color);
}

.wine-example {
    font-size: 22px;
    font-family: 'Prata', serif;
    font-weight: inherit;
    line-height: 33px;
}

.wine-name,
.price {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.shop-wine-name {
    font-family: 'Prata', serif;
    font-size: 22px;
    font-weight: inherit;
}

.shop-price {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.available {
    color: #61a854;
}

.wine-code {
    font-family: 'Great Vibes', cursive;
    font-size: 26px;
    font-weight: inherit;
}

.storage-wine-img { 
    width: 415px;
    height: 415px;
}

.small-storage-wine-img { 
    width: 95px;
    height: 95px;
}

.devider-phone {
    width: 100%;
    height: 1px;
    margin: 24px 0;
    background: #edf0f5;
}

.big-chart, .chart {
    background-color: var(--title-color);
    border: var(--title-color);
    border-radius: 2px;
    border-bottom: inherit;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.big-chart:hover, .chart:hover {
    background-color: #9e5029;
    cursor: pointer;
}

.award-name {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.award-year {
    font-size: 22px;
    font-family: 'Prata', serif;
    font-weight: 400;
}

.award-description {
    font-size: 16px;
    font-family: 'Rubik' ,sans-serif;
    font-weight: 400;
    color: var(--text-color);
}

.timeless-classic {
    margin-top: 30px;
    min-height: 500px;
    width: 370px;
    height: 742px;
    line-height: 26px;
    text-align: left;
    display: block;
    justify-content:space-evenly;
    padding: 90px 15px 100px 15px;
    margin-left: 50rem;
}

.timeless-classic-background {
    background-image: url("../img/background-timeless-classic.webp");
    background-size: cover;
    background-position: center;
}

.history {
    background-image: url("../img/background-history.webp");
    text-align: left;
    min-height: 50px;
    position: absolute;
    vertical-align: baseline;
}

.watch-on-youtube {
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.watch-on-youtube:hover {
    text-decoration: underline;
}
/* Solomiya end */


/* Такі шрифти використовуються 
font-family: 'Great Vibes', cursive;
font-family: 'Prata', serif;
font-family: 'Rubik', sans-serif; */

/* Додав поки що такий колір, щоб було видно заголовки */
body {
    background-color: #271e1d;
}
.container {
    max-width: 1090px;
    margin: auto;
  }

/* ці властивості підходять для заголовків та підзаголовків наших блоків */
.section__title {
    color: #c8693a;
    font-family: 'Great Vibes', cursive;
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
}

.section__subtitle {
    color: #fff;
    font-family: 'Prata', serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
}

.faq__item, .features__title, .footer__title {
    color: #fff;
    font-family: 'Prata', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}

.faq__text, .features__rext {
    color: #898082;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.section__text {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.form__text {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.form__button {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    background-color: #c8693a;
}

.footer__address { 
    color: #898082;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;  
}

.footer__link {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.copyright_text {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.wrapper-testimonials {
    text-align: center;
  }

.wrapper-question {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .section__img {
    max-height: 650px;
  }
  
  .features {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  
  .features__title::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--secondary-color);
  }
  
  /* Join */
  
  .wrapper-join {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid #515369;
  }
  /* Dmytro beginning */
header .nav__menu a {
    color: rgb(255,255,255);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.content__title{
    color:#c8693a;
    font-family: 'Great Vibes',  sans-serif;
    font-size: 28px;
}
.text__big{
    color:rgb(255,255,255);
    font-family: 'Prata', sans-serif;
    font-size: 84px;
}
.text__small{
    color: rgb(255,255,255);
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}
  
@media(min-witdh:500px){
    header nav {
        display: flex;
        flex: 1;
        justify-content: space-around ;
    }

} 
 .buttons {
    font-family: 'Rubik', sans-serif;
    font-size: 16.5px;
    padding: 0.35em 1.2em;
    /*border: 0.1em solid #f0950c;*/
    margin: 0 0.3em 0.3em 0;
    /*border-radius: 0.12em;*/
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: #f0950c;
    border-radius: 3px;
}
.content_page, .buttonl {
    padding: 0.35em 1.2em;
    border: rgb(255,255,255,) ;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: color 0.7s;
    background-color: transparent;
}
/*a.content_page, a:hover {
    color: #000000;
    background-color: #f0950c;
    cursor: pointer;*/
    

/*.content_page,   a {
    border-color: black;
    color: black;
}*/
  
/* .content_page  a:hover {
    background-color: black;
    color: white;
}*/
.grid__natural .text__h{
    font-family: 'Prata',  sans-serif;
    font-size: 22px;
    color:rgb(255,255,255)

}
.grid__events .bar{
    height: 2px;
    width: 15%;
    background-color: #c8693a;
}
.grid__text {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: rgb(137,128,130);
} 
.grid__inner, a {
    font-family: 'Rubik', sans-serif;
    font-size: 15 px;
    color: rgb(255,255,255);
    font-weight: 800;
}
header .grid__inner .text__h{
    font-family: 'Prata', sans-serif;
    font-size: 22px;
    color:rgb(255,255,255)
}
header .grid__natural .text__h{
    color:rgb(255,255,255); 
    font-family: 'Prata', sans-serif;
    font-size: 22px;
     
}
.grid__natural .bar{
    height: 2px;
    width: 15%;
    background-color: #c8693a;
}
header .grid__natural .grid__text{
    color:rgb(137,128,130);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
header .grid__grade .text__h{
    color: rgb(255,255,255);
    font-family: 'Prata', sans-serif;
    font-size: 22px;
}
header .grid__grade .bar{
    height: 2px;
    width: 15%;
    background-color: #c8693a;
}
header .grid__grade .grid__text {
    color:rgb(137,128,130);
    font-family: 'Rubik',sans-serif;
    font-size: 16px;
}
 @media (min-witdh:500px){
    div .clear__site{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
}

/* main first section part*/
/*
.wine-bottle-feature-img {
    height: 170px;
    width: 170px;
    
} */

.feature-block-description {
    margin: 0 160px;
    padding: 0 15px;
}

.wine-feature-description {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.wine-history-container {
    justify-content:space-around;
    min-height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 20px;
   
}

.history-number {
    color:#f0950c;
}

.wine-bottles-thematic-picture {
    max-width: 400px;
    padding-left: 15px;
    padding-right: 15px;
}

.history-subtitles {
    font-size: 22px;
    line-height: 1.5;
    font-family: Prata, serif;
    font-weight: 400;
    font-style: none;
    letter-spacing: -.02em;
}

.history-text {
    padding-top: 90px;
    padding-bottom: 90px;
    color: rgb(137,128,130);
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    
}