:root {
    background-color: #261e1c;
    color: white;
    --title-color: #c8693a;
    --text-color: rgb(137,128,130);
}
section {
    margin-top: 300px;
}
.w-section-inner h1{
    font-family: 'Prata', serif;
    color: white;
    font-size: 58px;
    margin-left: auto ;
    margin-right: auto;
}
.w-section-warn{
    font-family: 'Rubik', serif;
    color: var(--text-color) ;
    font-size: 16px;
}
.w-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.w-section-image {
    display: flex;
   justify-content: center;
}
.w-section-warn{
    display: flex;
    justify-content: center;
}
@media (max-width: 990px){
    .w-section{
        display: block;
        align-items: center;
    }
}

